<template>
    <div id="app">
        <v-app id="inspire" style="max-height:50px">
            <v-card-title>
                Categorias
                <v-spacer></v-spacer>
                <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details>
                </v-text-field>
            </v-card-title>
            <v-data-table :loading="false" loading-text="Loading... Please wait" :search="search" :sort-by="'id'"
                multi-sort :headers="fields" :items="categories" :items-per-page="5" class="elevation-1"
                show-select :single-select="false" v-model="selected">

                <!-- Acciones -->
                <template v-slot:item.actions="{ item }">
                    <button @click="$store.dispatch('deleteCategory',item)"
                        class="btn btn-danger material-icons">delete</button>
                    <router-link :to="{ name: 'editCategory', params: {id: item.id}}">
                        <button class="btn btn-warning material-icons">edit</button>
                    </router-link>
                </template>

            </v-data-table>

          <hr>
          <h2>¿Eliminar las categorías seleccionadas?</h2>
          <button v-bind:class="(selected.length > 0)?'btn':'disabled'" @click="$store.dispatch('deleteAllCategoriesOneConfirm',selected)" class="btn btn-danger material-icons">delete</button>
        </v-app>

    </div>
</template>

<script>

export default {
  data: () => ({
    search: '',
    dialog: false,
    selected: [],
    fields: [
      {
        text: "Id",
        sortable: true,
        value:"id"
      },
      {
        text: "Nombre",
        sortable: false,
        value:"name"
      },
        {
        text: "Descripcion",
        sortable: false,
        value:"description"
      },
        {
        text: "Acciones",
        sortable: false,
        value:"actions"

      },
    ]
  }),
  computed: {
    categories(){
      return this.$store.state.categories;
    },
  },
  created() {
    this.$store.dispatch('getCategories');
  },
};
</script>
