<template>
    <form novalidate="true" @submit.prevent="newProd">
    <fieldset>
        <legend>{{accion}}</legend>
        <!-- Aquí los inputs y botones del form -->
        <div v-show="this.id" class="form-group hidden">
            <label>Id:</label>
            <input type="text" v-model="producto.id" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" name="nombre" v-validate="'required|min:4|max:50'" v-model="producto.name" class="form-control" required>
            <span class="err-val">{{ errors.first('nombre') }}</span>
        </div>
        <div v-show="this.id" class="form-group hidden">
            <label>Unidades:</label>
            <input type="number" name="units" v-validate="'required|numeric|min:0'" v-model="producto.units" class="form-control" min="0" value="0">
            <span class="err-val">{{ errors.first('units') }}</span>
        </div>
        <div class="form-group">
            <label>Precio/u.:</label>
            <input name="precio" type="number" v-validate="'required|decimal:2|min:0'" v-model="producto.price" class="form-control" required min="0"
                step="0.01" placeholder='0.00' >
            <span class="err-val">{{ errors.first('precio') }}</span>
        </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Categoría</label>
            <select class="form-control" name="category" id="exampleFormControlSelect1" v-model="producto.category">
                <option  v-for="category in categories" v-bind:key="category.id" :value="category.name">{{category.name}}</option>
            </select>
            </div>
        <button type="submit" class="btn btn-default btn-primary">{{buttonText}}</button>
        <button type="reset" class="btn btn-danger" @click="reiniciarCampos">Reset</button>
    </fieldset>
</form>
</template>

<script>
import APIService from './../model/API/apiController';
const Api = new APIService();

export default {
    data: () => ({
        producto: {
            units:0, // si lo pongo dentro de producto no encuentra ael valor
        },
        buttonText: '',
        accion: ''
    }),
    mounted() {
        if (this.$store.state.categories.length === 0) {
            this.$store.dispatch('getCategories');
        }
        if (this.id) {
            this.buttonText =  'Editar';
            this.accion = 'Editar producto';
            this.updateEditInputs();
        }else{
            this.producto= {units:0};
            this.buttonText =  'Añadir';
            this.accion = 'Nuevo producto';
        }
    },
    methods: {
        newProd() { // añade un producto a la tabla.
            this.$validator.validateAll().then((result) => { //validación de formularios
                if (result) { // si todo ha ido bien
                    if (this.id) { // editar
                        this.$store.dispatch('editProd',this.producto);
                        this.$router.push('/showProducts');
                    }else{ // añadir
                        this.$store.dispatch('newProd',this.producto)
                        this.$router.push('/showProducts');
                    }
                 }
            }).catch((err) => { // si ha encontrado un error inesperado
                alert(err);
            });
        },
        reiniciarCampos(){
            if (this.id) {
                this.updateEditInputs();
            }else{
                this.producto= {};
            }
        },
        updateEditInputs(){
            const _this = this;
            Api.getId(this.id).then((productReceived) => {
                _this.producto = productReceived.data;
            }).catch((error) => {
                alert(error);
            });
        }
    },
    watch: {
        $route () {
            this.producto= {};
        }
    },
    props: [
        'id'
    ],
    computed: {
        categories(){
            return this.$store.state.categories;
        }
    },
}
</script>


<style scoped>
.err-val {
  color: red;
  font-family: 'Courier';
}
</style>
