<template>
    <div id="app">
        <v-app id="inspire" style="max-height:50px">
            <v-card-title>
                Productos
                <v-spacer></v-spacer>
                <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details>
                </v-text-field>
            </v-card-title>
            <v-data-table :loading="false" loading-text="Loading... Please wait" :search="search" :sort-by="'id'"
                multi-sort :headers="fields" :items="productos" :items-per-page="5" class="elevation-1"
                show-select :single-select="false" v-model="selected">


                <!-- Units -->
                <template v-slot:item.units="{ item }">
                    <v-chip :color="getColor(item.units)" text-color="white">{{ item.units }}</v-chip>
                </template>

                <!-- Precio -->
                <template v-slot:item.price="{ item }">
                    <span>{{ item.price | currency }}</span>
                </template>

                <!-- Importe -->
                <template v-slot:item.import="{ item }">
                    <span>{{ item.price*item.units | currency }}</span>
                </template>

                <!-- Acciones -->
                <template v-slot:item.actions="{ item }">
                    <button @click="$store.dispatch('incrementOneUnit',item.id)"
                        class="btn btn-dark material-icons">expand_less</button>
                    <button v-bind:class="(item.units > 0)?'btn':'disabled'"
                        @click="$store.dispatch('decrementOneUnit',item.id)"
                        class="btn btn-dark material-icons">expand_more</button>
                    <button @click="$store.dispatch('deleteProd',item)"
                        class="btn btn-danger material-icons">delete</button>
                    <router-link :to="{ name: 'editProduct', params: {id: item.id}}">
                        <button class="btn btn-warning material-icons">edit</button>
                    </router-link>
                </template>

                <!-- Modal -->
                <template v-slot:item.see="{ item }">
                    <v-dialog :retain-focus="false" v-model="dialog" persistent max-width="450px">
                        <template v-slot:activator="{ on }">
                            <v-btn color="primary" dark v-on="on">Información</v-btn>
                        </template>
                        <v-card>
                            <v-card-title class="headline">Información del producto {{item.name}}</v-card-title>
                            <v-card-text>
                                <h3>Id:</h3>
                                <label>{{item.id}}</label>
                                <h3>Nombre:</h3>
                                <label>{{item.name}}</label>
                                <h3>Unidades:</h3>
                                <label>{{item.units}}</label>
                                <h3>Precio:</h3>
                                <label>{{item.price | currency}}</label>
                                <h3>Importe:</h3>
                                <label>{{ (item.units*item.price) | currency }}</label>
                                <h3>Categoría:</h3>
                                <label>{{ item.category }}</label>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="green darken-1" text @click="dialog = false">Ok</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </template>

            </v-data-table>

            <!-- Importe del almacen -->
            <p class="lead float-right marginright5"><br>
                Importe total del almacén:
                <strong>{{calcularImporte | currency}}</strong>
            </p>
          <hr>
          <h2>¿Eliminar los productos seleccionados?</h2>
          <button v-bind:class="(selected.length > 0)?'btn':'disabled'" @click="$store.dispatch('deleteAllProdsOneConfirm',selected)" class="btn btn-danger material-icons">delete</button>
        <br>
        <hr>
           <h2>Productos por categorías</h2>
        <v-data-table
      :headers="headers"
      :items="productos"
      item-key="name"
      group-by="category"
      class="elevation-1"
      show-group-by
    >
 
    </v-data-table>
        
        
        
        </v-app>

    </div>
</template>

<script>

export default {
  filters: {
    currency(value) {
      if (!value) return "0 €";
      return value.toFixed(2) + " €";
    }
  },
  data: () => ({
    search: '',
    dialog: false,
    selected: [],
    headers: [
        {
          text: 'Unidades restantes',
          align: 'center',
          value: 'name',
        },
        { text: 'Categoría', value: 'category' },
      ],
    fields: [
      {
        text: "Id",
        sortable: true,
        value:"id"
      },
      {
        text: "Nombre",
        sortable: false,
        value:"name"

      },
      {
        text: "Unidades",
        sortable: true,
        value:"units"
      },
      {
        text: "Categoría",
        sortable: true,
        value:"category"
      },
      {
        text: "Precio",
        sortable: true,
        value:"price"
      },
      {
        text: "Importe",
        sortable: true,
        value:"import"
      },
      {
        text: "Acciones",
        sortable: false,
        value:"actions"
      },
      {
        text: "Información",
        sortable: false,
        value:"see"
      },
    ]
  }),
  computed: {
    productos(){
      return this.$store.state.almacen.products;
    },
    calcularImporte() {
     return this.$store.getters.calcularImporte;
    }
  },
  created() {
    this.$store.dispatch('getAll');
  },
  methods: {
    getColor (units) {
      if (units < 10) {
        return 'red';
      }else if(units < 25){
        return 'orange';
      }else{
        return 'green';
      }
    },
  }
};
</script>
