<template>
    <form novalidate="true" @submit.prevent="newProd">
    <fieldset>
        <legend>{{accion}}</legend>
        <!-- Aquí los inputs y botones del form -->
        <div v-show="this.id" class="form-group hidden">
            <label>Id:</label>
            <input type="text" v-model="category.id" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" name="nombre" v-validate="'required|min:4|max:50'" v-model="category.name" class="form-control" required>
            <span class="err-val">{{ errors.first('nombre') }}</span>
        </div>
        <div class="form-group">
            <label>Descripcion:</label>
            <input type="text" name="description" v-validate="'required|min:4|max:50'" v-model="category.description" class="form-control" required>
            <span class="err-val">{{ errors.first('description') }}</span>
        </div>
        <button type="submit" class="btn btn-default btn-primary">{{buttonText}}</button>
        <button type="reset" class="btn btn-danger" @click="reiniciarCampos">Reset</button>
    </fieldset>
</form>
</template>

<script>
import APIService from './../model/API/apiController';
const Api = new APIService();

export default {
    data: () => ({
        category: {
        },
        buttonText: '',
        accion: ''
    }),
    mounted() {
        if (this.id) {
            if (this.$store.state.categories.length === 0) {
                this.$store.dispatch('getCategories');
            }
            this.buttonText =  'Editar';
            this.accion = 'Editar categoría';
            this.updateEditInputs();
        }else{
            this.category= {};
            this.buttonText =  'Añadir';
            this.accion = 'Nueva categoría';

        }

    },
    methods: {
        newProd() { // añade un producto a la tabla.
            this.$validator.validateAll().then((result) => { //validación de formularios
                if (result) { // si todo ha ido bien
                    if (this.id) { // editar
                        this.$store.dispatch('editCategory',this.category);
                        this.$router.push('/showCategories');
                    }else{ // añadir
                        this.$store.dispatch('newCategory',this.category)
                        this.$router.push('/showCategories');
                    }
                 }
            }).catch((err) => { // si ha encontrado un error inesperado
                alert(err);
            });
        },
        reiniciarCampos(){
            if (this.id) {
                this.updateEditInputs();
            }else{
                this.category= {};
            }
        },
        updateEditInputs(){
            // this.category = this.$store.state.categories.find((category) => category.id == this.id);
            const _this = this;
            Api.getIdCategory(this.id).then((categReceived) => {
                _this.category = categReceived.data;
            }).catch((error) => {
                alert(error);
            });
        }
    },
    watch: {
        $route () {
            this.category= {};
        }
    },
    props: [
        'id'
    ],
    computed: {
        categories(){
            return this.$store.state.categories;
        }
    },
}
</script>


<style scoped>
.err-val {
  color: red;
  font-family: 'Courier';
}
</style>
