<template>
    <div class="centerDiv">
        <h1>Página no encontrada</h1>
        <img src="404.png">
    </div>
</template>


<script>
export default {
    
}
</script>


<style scoped>

</style>
