<template>
  <div id="app">
    <app-navbar></app-navbar>
    <router-view></router-view>
  </div>
</template>

<script>

import AppNavbar from './components/AppNavbar.vue';
import BootstrapVue from 'bootstrap-vue';
import Vue from 'vue'
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
Vue.use(BootstrapVue);

export default {
  name: 'app',
  components: {
    AppNavbar
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  display:contents;
}


.material-icons {
    vertical-align: middle;
    font-size: 22px !important;

}

table, form, .centerDiv{
    width:90%!important;
    margin-left: auto;
    margin-right: auto;
}

.marginright5{
  margin-right:5%;
}

button,.material-icons{
    margin-left:2px;
    margin-right: 2px
}


</style>
